name: Cache Dependencies
on:
  push:
    branches:
      - main
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Cache dependencies
        id: cache-step
        uses: actions/cache@v4
        with:
          path: ~/.cache
          key: cache-3959b66
      - name: prime-cache-3959b66
        run: echo "Cache hit ${{ steps.cache-step.outputs.cache-hit }}"
